**/*.git
.travis*
.flake*
pip-wheel-metadata*
*.egg-info*
dist*
build*
docs*
.pre-commit*
*.private
**/*.private
**/*.settings.yml
examples/settings.yml
**/*.pem
**/*.key
**/*.csr
**/*.crt
tests/*
.ci/*
