*.hub
Pipfile
*.private*
**/.settings.yml
.settings.yml
**/*secret
*~
examples/*crt
examples/*key
**/*pycache*
docs/wm-bclidist/
build
**egg-info*
pip-wheel-metad*
dist/
docs/wm-bcli/

docs/source/modules.rst
docs/source/wirepas_backend_client*.rst


.pre-commit-config.yaml
.flake8
.clang*
.ci/manifest/*
dev-requirements.txt

*.csv
kpi_data/*
.idea/*
examples/test_fluent.py


run_informatio*
**/*report.json

*.csv*
**/*services.json

certs/*
settings.yml
