# Wirepas Oy 2018
wirepas_messaging==1.1.0
cbor2==4.1.2

# mqtt
paho-mqtt==1.4.0

# dbs
mysqlclient==1.4.2.post1
influxdb==5.2.2

# data viz
pandas==0.24.2

# websocket
websocket-client==0.48.0

# tools
PyYAML==5.1
fluent-logger==0.9.3
